# @@@LICENSE
#
# Copyright (c) 2023-2025 LG Electronics, Inc.
#
# LICENSE@@@

[Unit]
Description=webos - "%n"
DefaultDependencies=no
Conflicts=shutdown.target
Before=ls-hubd.service sysinit.target var-db-temp.mount var-volatile.mount
After=systemd-remount-fs.service local-fs-pre.target
Requires=local-fs-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/systemd/system/scripts/setup-partitions.sh
StandardOutput=tty
StandardError=tty

[Install]
WantedBy=local-fs.target
