# @@@LICENSE
#
# Copyright (c) 2018-2025 LG Electronics, Inc.
#
# Confidential computer software. Valid license from LG required for
# possession, use or copying. Consistent with FAR 12.211 and 12.212,
# Commercial Computer Software, Computer Software Documentation, and
# Technical Data for Commercial Items are licensed to the U.S. Government
# under vendor's standard commercial license.
#
# LICENSE@@@

# Starts the flow manager service

[Unit]
Description=meta-webos - "%n"
Requires=ls-hubd.service settings-service.service configd.service
After=ls-hubd.service settings-service.service configd.service

[Service]
Type=simple
EnvironmentFile=-/var/systemd/system/env/flowmgr.env
ExecStart=/lib/systemd/system/scripts/flowmgr.sh
Restart=on-failure
