# @@@LICENSE
#
# Copyright (c) 2024-2025 LG Electronics, Inc.
#
# Confidential computer software. Valid license from LG required for
# possession, use or copying. Consistent with FAR 12.211 and 12.212,
# Commercial Computer Software, Computer Software Documentation, and
# Technical Data for Commercial Items are licensed to the U.S. Government
# under vendor's standard commercial license.
#
# LICENSE@@@

# Preparing Camera Registry

[Unit]
Description=meta-webos - "%n"
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/lib/systemd/system/scripts/camera-registry.sh
RemainAfterExit=yes
